<head>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

	<style>
	h1{ text-align:center; color:white; }

	#myheader{ background-color:dodgerblue; color:white; }
	</style>
</head>

<div class="container">
  	<div class="jumbotron" id="myheader">
    	<h1>My Poll Aplication</h1>
    	<p></p> 
  	</div>
  	<div class="row">
  		<div class="col-xs-12 col-sm-4">
  			<form action="/polls/add_question/" method="post">
				{% csrf_token %}
				<label> Question:
					<input type="text" />
				</label>
				<label> Author:
					<input type="text" />
				</label>

				<input class="btn btn-danger" type="submit" value="Create" />
			</form>
		</div>
	</div>
</div>
