<head>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

	<style>
	#myheader{ background-color:dodgerblue; color:white;}
	</style>
</head>

<div class="container">
  	<div class="jumbotron" id="myheader">
    	<h1>My Poll Aplication</h1>
    	<p></p> 
  	</div>
  	<div class="row">
  		<div class="col-xs-12 col-sm-8">

			<h1>{{ question.question_text }}</h1>

			{% if error_message %} <div class="alert alert-danger fade in"><a href="#"  class="close" data-dismiss="alert" aria-label="close">&times;</a><p><strong> There are no choices appended to this question </strong></p></div> {% endif %}

			<form action="{% url 'polls:vote' question.id %}" method="post">
				{% csrf_token %}
				{% for choice in question.choice_set.all %}
				<input type="radio" name="choice" id="choice{{forloop.counter}}" value=" {{ choice.id }}" />
				<label for="choice{{ forloop.counter }}"> {{ choice.choice_text}} </label>
				<br />
				{% endfor %}
				<input class="btn btn-info" type="submit" value="Vote" />
			</form>
		</div>
	</div>
</div>

